<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{273,303}</string>
                <key>spriteSourceSize</key>
                <string>{273,303}</string>
                <key>textureRect</key>
                <string>{{1,1},{273,303}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{273,303}</string>
                <key>spriteSourceSize</key>
                <string>{273,303}</string>
                <key>textureRect</key>
                <string>{{276,1},{273,303}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{273,303}</string>
                <key>spriteSourceSize</key>
                <string>{273,303}</string>
                <key>textureRect</key>
                <string>{{551,1},{273,303}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{273,303}</string>
                <key>spriteSourceSize</key>
                <string>{273,303}</string>
                <key>textureRect</key>
                <string>{{826,1},{273,303}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>0.png</string>
            <key>size</key>
            <string>{1100,305}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b39564dfe1404c786e8724d63bff9925:028620a177b9abecfeee2dfd555d90a7:6a742f82625aa3c6c9ec5692622f5fbd$</string>
            <key>textureFileName</key>
            <string>0.png</string>
        </dict>
    </dict>
</plist>
