<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,302}</string>
                <key>spriteSourceSize</key>
                <string>{272,302}</string>
                <key>textureRect</key>
                <string>{{825,1},{272,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{273,302}</string>
                <key>spriteSourceSize</key>
                <string>{273,302}</string>
                <key>textureRect</key>
                <string>{{550,1},{273,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,303}</string>
                <key>spriteSourceSize</key>
                <string>{272,303}</string>
                <key>textureRect</key>
                <string>{{276,1},{272,303}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{273,303}</string>
                <key>spriteSourceSize</key>
                <string>{273,303}</string>
                <key>textureRect</key>
                <string>{{1,1},{273,303}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>1.png</string>
            <key>size</key>
            <string>{1098,305}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6f70eef253f2d04440652b4fc4e295e1:6e08fbfd8865b2ef5a71d3167fd2c7aa:2f7983b4c14cf09938dfa44df99367f8$</string>
            <key>textureFileName</key>
            <string>1.png</string>
        </dict>
    </dict>
</plist>
