<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>11_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{271,301}</string>
                <key>spriteSourceSize</key>
                <string>{271,301}</string>
                <key>textureRect</key>
                <string>{{822,1},{271,301}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,301}</string>
                <key>spriteSourceSize</key>
                <string>{272,301}</string>
                <key>textureRect</key>
                <string>{{548,1},{272,301}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{271,302}</string>
                <key>spriteSourceSize</key>
                <string>{271,302}</string>
                <key>textureRect</key>
                <string>{{275,1},{271,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,302}</string>
                <key>spriteSourceSize</key>
                <string>{272,302}</string>
                <key>textureRect</key>
                <string>{{1,1},{272,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>11.png</string>
            <key>size</key>
            <string>{1094,304}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:89a2c42ed3b1ec9a3496c0ddfa81e1f9:bd52da9630436805da36d37aa76565a2:858e50caa60b1aa72adf72e171d4b558$</string>
            <key>textureFileName</key>
            <string>11.png</string>
        </dict>
    </dict>
</plist>
