<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>12_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{271,303}</string>
                <key>spriteSourceSize</key>
                <string>{271,303}</string>
                <key>textureRect</key>
                <string>{{549,1},{271,303}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,303}</string>
                <key>spriteSourceSize</key>
                <string>{272,303}</string>
                <key>textureRect</key>
                <string>{{1,1},{272,303}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{271,303}</string>
                <key>spriteSourceSize</key>
                <string>{271,303}</string>
                <key>textureRect</key>
                <string>{{822,1},{271,303}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,303}</string>
                <key>spriteSourceSize</key>
                <string>{272,303}</string>
                <key>textureRect</key>
                <string>{{275,1},{272,303}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>12.png</string>
            <key>size</key>
            <string>{1094,305}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cc16634e9dcf922bc205549caa167285:4f58745244df9e655feb82d6ff50b74a:84bc683e1a75a162453334fdb5b30d64$</string>
            <key>textureFileName</key>
            <string>12.png</string>
        </dict>
    </dict>
</plist>
