<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,303}</string>
                <key>spriteSourceSize</key>
                <string>{272,303}</string>
                <key>textureRect</key>
                <string>{{551,1},{272,303}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{273,303}</string>
                <key>spriteSourceSize</key>
                <string>{273,303}</string>
                <key>textureRect</key>
                <string>{{1,1},{273,303}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,303}</string>
                <key>spriteSourceSize</key>
                <string>{272,303}</string>
                <key>textureRect</key>
                <string>{{825,1},{272,303}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{273,303}</string>
                <key>spriteSourceSize</key>
                <string>{273,303}</string>
                <key>textureRect</key>
                <string>{{276,1},{273,303}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>2.png</string>
            <key>size</key>
            <string>{1098,305}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:01749b1db01e2ea344f7685835d69a26:83cc96246714a68fa233612d945727dd:623324867643c00c9de7ce2df641103a$</string>
            <key>textureFileName</key>
            <string>2.png</string>
        </dict>
    </dict>
</plist>
