<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{271,302}</string>
                <key>spriteSourceSize</key>
                <string>{271,302}</string>
                <key>textureRect</key>
                <string>{{549,1},{271,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,302}</string>
                <key>spriteSourceSize</key>
                <string>{272,302}</string>
                <key>textureRect</key>
                <string>{{1,1},{272,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{271,302}</string>
                <key>spriteSourceSize</key>
                <string>{271,302}</string>
                <key>textureRect</key>
                <string>{{822,1},{271,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,302}</string>
                <key>spriteSourceSize</key>
                <string>{272,302}</string>
                <key>textureRect</key>
                <string>{{275,1},{272,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>4.png</string>
            <key>size</key>
            <string>{1094,304}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fd6ef4ece28641af36ea0f6087830284:c996b9bcd0a0dcc3b44e03b8bdf654da:aea8e837dce9be4396a19dc32cf6304d$</string>
            <key>textureFileName</key>
            <string>4.png</string>
        </dict>
    </dict>
</plist>
