<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>5_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,302}</string>
                <key>spriteSourceSize</key>
                <string>{272,302}</string>
                <key>textureRect</key>
                <string>{{1,611},{272,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,302}</string>
                <key>spriteSourceSize</key>
                <string>{272,302}</string>
                <key>textureRect</key>
                <string>{{1,915},{272,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,303}</string>
                <key>spriteSourceSize</key>
                <string>{272,303}</string>
                <key>textureRect</key>
                <string>{{1,1},{272,303}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,303}</string>
                <key>spriteSourceSize</key>
                <string>{272,303}</string>
                <key>textureRect</key>
                <string>{{1,306},{272,303}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>5.png</string>
            <key>size</key>
            <string>{274,1218}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6ec7f5884f72e4de4e068136c27f12af:bb125be2b9617f015e07ccb7a6fe29de:c6dbde1693599f6671c0dc889ed7f1c3$</string>
            <key>textureFileName</key>
            <string>5.png</string>
        </dict>
    </dict>
</plist>
