<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>7_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,302}</string>
                <key>spriteSourceSize</key>
                <string>{272,302}</string>
                <key>textureRect</key>
                <string>{{1,611},{272,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,302}</string>
                <key>spriteSourceSize</key>
                <string>{272,302}</string>
                <key>textureRect</key>
                <string>{{1,915},{272,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,303}</string>
                <key>spriteSourceSize</key>
                <string>{272,303}</string>
                <key>textureRect</key>
                <string>{{1,1},{272,303}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,303}</string>
                <key>spriteSourceSize</key>
                <string>{272,303}</string>
                <key>textureRect</key>
                <string>{{1,306},{272,303}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>7.png</string>
            <key>size</key>
            <string>{274,1218}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ab2054cf76c49a45bedc327e6a1b5df0:c52232eeb854328a4e8744c9c9744e9b:41a2272e7348b624f834a359c7d08551$</string>
            <key>textureFileName</key>
            <string>7.png</string>
        </dict>
    </dict>
</plist>
