<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>8_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{271,301}</string>
                <key>spriteSourceSize</key>
                <string>{271,301}</string>
                <key>textureRect</key>
                <string>{{1,609},{271,301}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{271,301}</string>
                <key>spriteSourceSize</key>
                <string>{271,301}</string>
                <key>textureRect</key>
                <string>{{1,912},{271,301}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{271,302}</string>
                <key>spriteSourceSize</key>
                <string>{271,302}</string>
                <key>textureRect</key>
                <string>{{1,1},{271,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{271,302}</string>
                <key>spriteSourceSize</key>
                <string>{271,302}</string>
                <key>textureRect</key>
                <string>{{1,305},{271,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>8.png</string>
            <key>size</key>
            <string>{273,1214}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ca07f388f5f563238a57ea49f562d3c7:136734d00fd2089843d69902dff5df0f:d49ca568aef5a9fc2acc5f0712bdd287$</string>
            <key>textureFileName</key>
            <string>8.png</string>
        </dict>
    </dict>
</plist>
