<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>9_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,302}</string>
                <key>spriteSourceSize</key>
                <string>{272,302}</string>
                <key>textureRect</key>
                <string>{{825,1},{272,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{273,302}</string>
                <key>spriteSourceSize</key>
                <string>{273,302}</string>
                <key>textureRect</key>
                <string>{{550,1},{273,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,303}</string>
                <key>spriteSourceSize</key>
                <string>{272,303}</string>
                <key>textureRect</key>
                <string>{{276,1},{272,303}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{273,303}</string>
                <key>spriteSourceSize</key>
                <string>{273,303}</string>
                <key>textureRect</key>
                <string>{{1,1},{273,303}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>9.png</string>
            <key>size</key>
            <string>{1098,305}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f1255e8ec2969061e2f3c7e1aa9f21bb:c5d28015b461aa1ee93dd70a16688063:4b13a24e39cdde2cfb0cefc6ae3c5b53$</string>
            <key>textureFileName</key>
            <string>9.png</string>
        </dict>
    </dict>
</plist>
