<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{546,606}</string>
                <key>spriteSourceSize</key>
                <string>{546,606}</string>
                <key>textureRect</key>
                <string>{{0,0},{546,606}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{545,605}</string>
                <key>spriteSourceSize</key>
                <string>{545,605}</string>
                <key>textureRect</key>
                <string>{{2180,0},{545,605}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{543,605}</string>
                <key>spriteSourceSize</key>
                <string>{543,605}</string>
                <key>textureRect</key>
                <string>{{5446,0},{543,605}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{543,603}</string>
                <key>spriteSourceSize</key>
                <string>{543,603}</string>
                <key>textureRect</key>
                <string>{{6532,0},{543,603}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{543,606}</string>
                <key>spriteSourceSize</key>
                <string>{543,606}</string>
                <key>textureRect</key>
                <string>{{1091,0},{543,606}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{544,605}</string>
                <key>spriteSourceSize</key>
                <string>{544,605}</string>
                <key>textureRect</key>
                <string>{{4902,0},{544,605}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{545,606}</string>
                <key>spriteSourceSize</key>
                <string>{545,606}</string>
                <key>textureRect</key>
                <string>{{546,0},{545,606}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{544,605}</string>
                <key>spriteSourceSize</key>
                <string>{544,605}</string>
                <key>textureRect</key>
                <string>{{3270,0},{544,605}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{543,604}</string>
                <key>spriteSourceSize</key>
                <string>{543,604}</string>
                <key>textureRect</key>
                <string>{{5989,0},{543,604}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{544,605}</string>
                <key>spriteSourceSize</key>
                <string>{544,605}</string>
                <key>textureRect</key>
                <string>{{3814,0},{544,605}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{546,605}</string>
                <key>spriteSourceSize</key>
                <string>{546,605}</string>
                <key>textureRect</key>
                <string>{{1634,0},{546,605}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{544,605}</string>
                <key>spriteSourceSize</key>
                <string>{544,605}</string>
                <key>textureRect</key>
                <string>{{4358,0},{544,605}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{542,603}</string>
                <key>spriteSourceSize</key>
                <string>{542,603}</string>
                <key>textureRect</key>
                <string>{{7075,0},{542,603}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{545,605}</string>
                <key>spriteSourceSize</key>
                <string>{545,605}</string>
                <key>textureRect</key>
                <string>{{2725,0},{545,605}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>card.png</string>
            <key>size</key>
            <string>{7617,606}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:50cc67f162ba7884706b9cd2765cf47b:5b0cac8d68f22e2c5791afe82474ce55:ac15c2787776c146127be3982bd2a622$</string>
            <key>textureFileName</key>
            <string>card.png</string>
        </dict>
    </dict>
</plist>
